.welcome-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.welcome-title {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.view-tasks-link {
  padding: 10px 20px;
  font-size: 1.2rem;
  color: white;
  background-color: #6A4C93;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.view-tasks-link:hover {
  background-color: #4F2D6E; /* Darker shade on hover */
}
